<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Food Fights!</title>
  <!-- Bootstrap core CSS -->
  <link rel= "stylesheet" type= "text/css" href="{{ url_for('static',filename='/styles/bootstrap.min.css') }}">
  <!-- Custom fonts for this template -->
  <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
  <!-- Custom styles for this template -->
  <link rel= "stylesheet" type= "text/css" href="{{ url_for('static',filename='styles/food-fights.css') }}">
</head>
<body>
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand" href="">
        <img src="../static/imgs/website-logo.png" alt="Food Fights Logo">
      </a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" id="loginBtn" href="" data-toggle="modal" data-target="#exampleModal">Login</a>
          </li>
          <li>
            <div class="dropdown">
              <button class="btn btn-light dropdown-toggle" type="button" id="profileBtn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                [username]
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#"></a>
                <a id="signOutBtn" class="dropdown-item" data-toggle="modal" data-target="#exampleModal">Sign Out</a>
                <!--<a class="dropdown-item" href="#">Something else here</a>-->
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('../static/imgs/home-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Food Fights!</h1>
            <span class="subheading">ONLY THE BEST</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">

    <!-- Post thumbnails go here -->
    <div class="posts-header">
      <div class="posts-header-content">
        <h2>Recent Posts</h2>
        <button id="createPostBtn" type="button" class="btn btn-primary btn-lg btn-block" data-toggle="modal" data-target="#exampleModal">Create New Post</button>
      </div>
      
    </div>
    <div id="postPreviewsGrid" class="row">
      <!-- Grid Items Go Here -->
    </div>
    <button id="loadMorePostsBtn" type="button" class="btn btn-secondary btn-lg btn-block">Load More Posts</button>
  </div>

  <hr>

  <!-- Footer -->
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <p class="copyright text-muted">Crafted By: Notorious PHP</p>
        </div>
      </div>
    </div>
  </footer>

  <!--=============================-->
  <!--=============================-->

  <!-- POST PREVIEW -->

  <template id="postPreviewTemp">
    <div class="col-md-6 col-lg-4 mb-5">
      <div class="post-preview hvr-grow mx-auto" data-toggle="modal" data-target="#postDetailsModal">
        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
          <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
        </div>
        <img class="img-fluid post-preview-img" src="https://349-food-fights.s3-us-west-2.amazonaws.com/stock-imgs/beef-ribs.jpg" alt="" />
        <div class="overlay">
          <!--<div class="text">test</div>-->
        </div>
      </div>
      <span class="post-id" style="display: none;"></span>
    </div>
  </template>

  <!--=============================-->
  <!--=============================-->

  <!-- LOGIN / REGISTER / CREATE POST -->

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h4 class="modal-title" id="modalTitle">Modal Template</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
              <!-- Templates go here -->
              <h3>Test Content</h3>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
      </div>
    </div>
  </div>
  <!-- Modal End -->

  <!-- Login Form Template -->
  <template id="loginForm">
    <form class="needs-validation" novalidate>
        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="inputUsername" aria-describedby="emailHelp" placeholder="Email Address" name="username" required>
            <div class="invalid-feedback">
                Incorrect or invalid username (email).
            </div>
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="inputPassword" pattern=".+" placeholder="Password" name="password" required>
            <div class="invalid-feedback">
                Please enter your password.
            </div>
        </div>
        <div class="form-group">
            <div class="alert alert-danger login-alert" role="alert">
                Username or password was incorrect.
            </div>
            <button type="submit" class="btn btn-primary signin-btn">Sign In</button>
        </div>           
    </form>
    <p>Don't have an account? <a class="register-btn" href="#">Register Here</a></p>
  </template>
  <!-- Login Form Template End -->

  <!-- Register Form Template -->
  <template id="registerForm">
    <form class="needs-validation" novalidate>
        <div class="form-group">
            <label for="">Email</label>
            <input type="email" class="form-control" id="emailRegisterInput" placeholder="Email" pattern=".*" required>
            <div class="valid-feedback">
                Looks good!
            </div>
            <div class="invalid-feedback">
                Invalid email format.
            </div>
        </div>
        <div class="form-group">
            <label for="">Password</label>
            <input type="password" class="form-control" id="registerPasswordInput" placeholder="Password" pattern="(?=.*\W)(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required>
            <div class="valid-feedback">
                Looks good!
            </div>
            <div class="invalid-feedback">
                Invalid password. Password must contain:
                <ul style="list-style-type:none;">
                    <li>-> 1 Uppercase Character</li>
                    <li>-> 1 Lowercase Character</li>
                    <li>-> 1 Digit</li>
                    <li>-> 1 Special Character</li>
                </ul>
            </div>
        </div>
        <div class="form-group">
            <label for="">Confirm Password</label>
            <input type="password" class="form-control" id="confirmPasswordInput" placeholder="Confirm Password" required>
            <div class="valid-feedback">
                Looks good!
            </div>
            <div class="invalid-feedback">
                Passwords do not match.
            </div>
        </div>
        <div class="form-group">
            <button type="submit" id="registerBtn" class="btn btn-primary">Submit</button>
        </div>
    </form>   
  </template>
  <!-- Register Form Template End -->

  <!-- Create Post Template -->
  <template id="createPostForm">
    <form action="/upload" method="POST" enctype="multipart/form-data">
      <div class="form-group">
        <label for="postTitleInput">Post Title</label>
        <input id="postTitleInput" type="text" class="form-control" name="postTitle">
      </div>
      <div class="form-group">
        <label for="user_file">Upload Your File</label>
        <input type="file" name="user_file"  value="user_file" accept="image/x-png,image/gif,image/jpeg">
      </div>
      <div class="form-group">
        <label for="postCaptionInput">Post Caption</label>
        <input type="text" class="form-control" id="postCaptionInput" name="postCaption"></input>
      </div>
      <div class="form-group">
        <label for="postAuthorInput">Author</label>
        <input id="postAuthorInput" class="form-control" type="text" placeholder="" name="postAuthor" readonly>
      </div>
      <div class="form-group">
        <button type="submit" id="createPostFormBtn" class="btn btn-primary">Submit</button>
      </div>
    </form>
  </template>
  <!-- Create Post Template End -->

  <!--=============================-->
  <!--=============================-->

  <!-- VIEW POST / COMMENTS / REPLIES -->

  <!-- View Post Modal -->
  <div class="modal fade" id="postDetailsModal"  tabindex="-1" role="dialog" aria-labelledby="postDetailsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <div class="modal-header-container">
            <h3 class="modal-title font-italic" id="postsModalTitle">Modal Template</h3>
          </div>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <!-- Post Details Go Here -->
          <h3 class="font-weight-light pb-2" id="postsModalCaption">Post Content</h3>
          <h6 class="pb-2" id="postsModalAuthor">[ username@email.com ]</h6>
          <img id="postDetailsModalImg" class="img-fluid" src="">
          <div class="container py-2 mb-0">
            <div class="row">
                <div class="comments col-md mt-4 mb-0" id="comments">
                  <!-- Add New Comment Form -->
                  <div class="row mb-4">
                    <div class="col-12">
                      <form id="postNewCommentForm" novalidate>
                        <div class="form-group">
                          <h3 style="text-align: center;">Share your thoughts!</h3>
                          <textarea class="form-control mb-1" id="addCommentTxt" rows="4" required></textarea>
                          <div class="alert alert-danger comment-validation" role="alert">
                            Invalid Input
                          </div>
                        </div>
                        <div class="form-group">
                          <button type="button" class="btn btn-primary btn-block" id="addCommentBtn">Add Comment</a>
                        </div>
                      </form>
                      <div class="comment-login">
                        <button id="commentLoginBtn" class="btn btn-primary btn-block" data-toggle="modal" data-target="#postDetailsModal">Login To Comment</button>
                      </div>
                    </div>
                  </div>
                  <h3 class="mb-4 ml-4 comments-header">Comments</h3>
                  <div class="pt-2" id="commentsContainer">
                    <!-- Comments Go Here -->     
                  </div>
                </div>
            </div>
          </div>
          <span id="post-id" style="display: none;"></span>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <!-- View Post Modal End -->

  <!-- Reply Form Template -->
  <template id="addCommentReplyFormTemp">
    <div class="comment-reply-form pt-2">
      <div class="form-group">
        <textarea class="form-control mb-1" id="addCommentReplyTxt" rows="3" required></textarea>
        <div class="alert alert-danger comment-validation" role="alert">
          Invalid Input
        </div>
      </div>
      <div class="form-group reply-form-btns-container">
        <button type="button" class="btn btn-primary mr-2" id="addReplyBtn">Add Comment</a>
        <button type="button" class="btn btn-secondary" id="cancelBtn">Cancel</a>
      </div>
    </div>
  </template>
  <!-- Reply Form Template End -->

  <!-- Comment Template -->
  <template id="commentTemp">
    <div class="mb-5 row">
      <div class="col-md-1 col-sm-2 text-center pr-1">
          <a href=""><img class="mx-auto rounded-circle img-fluid" src="https://349-food-fights.s3-us-west-2.amazonaws.com/stock-imgs/profile-placeholder.png" alt="avatar"></a>
      </div>
      <div class="col-md-11 col-sm-10 pb-4">
          <h6 class="small"><a class="comment-author pr-3" href="#">[username here]</a><span class="comment-date">[post_date]</span></h6>
          <div>
              <p class="comment-body-content mb-2">
                [comment text goes here] <br>
                
              </p>
              <button type="button" class="btn btn-primary btn-sm reply-btn">Reply</button>
          </div>
      </div>
      <div class="replies-container">

      </div>
    </div>
  </template>
  <!-- Comment Template End -->

  <!-- Reply Template -->
  <template id="replyTemplate">
    <div class="col-md-11 offset-md-1 col-sm-10 offset-sm-2 pt-4 pb-4">
      <div class="row">
        <div class="col-md-1 col-sm-2 text-center pr-1">
          <a href=""><img class="mx-auto rounded-circle img-fluid" src="https://349-food-fights.s3-us-west-2.amazonaws.com/stock-imgs/profile-placeholder.png" alt="avatar"></a>
        </div>
        <div class="col-md-11 col-sm-10 col-12">
          <h6 class="small"><a class="reply-author pr-3" href="#">[username here]</a><span class="reply-date">[reply_date]</span></h6>
          <div class="reply-comment-body">
            <p>[comment text goes here] <br>
            </p>
          </div>
        </div>
      </div>
    </div>
  </template>
  <!-- Reply Template End -->

  <!-- AWS Cognito -->
  <script src="../static/js/amazon-cognito-auth.min.js"></script>
  <script src="https://sdk.amazonaws.com/js/aws-sdk-2.7.16.min.js"></script> 
  <script src="../static/js/amazon-cognito-identity.min.js"></script>
  <script src="../static/js/config.js"></script>

  <!-- Bootstrap core JS-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
  <!-- Third party plugin JS-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
  <!-- Custom Scripts -->
  <script src="{{ url_for('static',filename='js/main.js') }}"></script>
</body>

</html>
