<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="refresh" content="4; url = http://127.0.0.1:5000/" />
</head>

<body>

    <p style="text-align:center; background-color:powderblue; font-size:300%;"> Youre post was successfully uploaded</p>
    <p style="text-align:center; background-color:powderblue; font-size:200%; "> You'll be redirect to the main page</p>
    <p><img src="../static/imgs/website-logo.png " style="position: absolute; right: 700px; bottom: 400px; height: 100px; width: 100px; ">

</body>

</html>